@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@700&display=swap');
.register-input{
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    border-radius:15px;
    font-family: 'Cinzel Decorative', cursive;
}

h3{
    color: floralwhite;
}

#quote{
    background-color: rgba(165, 42, 42, 0.63);
    margin-top:200px;
    font-family: 'Cormorant SC', serif;
    color: rgba(255, 255, 255, 0.712);
}
button{
   margin-left:120px;
}

