@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
.section{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

li{
    display:inline;
    font-family: 'Italiana', serif;;
    padding-right: 20px;
    font-size: 20px;
}
.nav-link{
  text-decoration: none;
  color: white;
}
#background-one{
  background-image: url('https://i.imgur.com/XJRIJQt.png');
  display: flex;
}
#background-two{
  background-image: url('https://i.imgur.com/fojjSwu.png?1');
  display: flex;
}
#split{
  background-color: white;
  height: 1200px;
  width:40%;
}
#background-three{
   background-image: url('https://i.imgur.com/fSkCbod.png');
   display: flex;
}

#background-four{
  background-image: url('https://i.imgur.com/jntSKsc.png');
  display: flex;
}

#background-five{
  background-image: url('https://i.imgur.com/7bFP9wi.png');
  display: flex;
}

nav{
  background-color: brown;
  display: flex;
  justify-content: flex-end;
 
}

  #title{
    font-size: 50px;
    text-align: center;
    width: 200px;
    margin-top: 500px;
    margin-left: 600px;
    background-color: brown;
    border-radius: 20px;
    color: white;
    font-family: 'Italiana', serif;;
    /* background-color: rgba(202, 158, 14, 0.5); */
}

