body{
    margin:0;
}
.main-about-page{
  
}
#about-page-img{
    background-image: url('https://i.imgur.com/P8OwXAQ.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

